<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- log4j.xml에러 해결법 : 아래 두줄로 변경한다.
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 -->

	<!-- Appenders :어떻게 출력할지 찍어주는것-->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" /><!-- System.out타겍을가지구 -->
		<layout class="org.apache.log4j.PatternLayout"><!-- 형태로 -->
			<param name="ConversionPattern" value="%-5p: %c - %m%n" /><!-- layout변경할 수 있다 -->
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.mvc.upgrade">
		<level value="trace" />
	</logger>
	
	<!-- 3rdparty Loggers :consol에 검은색으로 뜨는 것들-->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- 추가 -->
	<!-- 패키지만 써주면 관련된거 실행될때 콘솔에 찍힌다 -->
	<logger name="org.ibatis">
		<level value="info"></level>
	</logger>
	
	<logger name="java.sql">
		<level value="info"></level>
	</logger>


	<!-- Root Logger :워닝뜰때만 뜨는거-->
	<root>
		<priority value="trace" /><!-- 내가 알고 싶은 정보 모든거 다 찍을거야 -->
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>

<!-- 
	log4j log level(찍어주는 범위)
	- Level.FATAL : 치명적인 에러(범위가 가장 적음)
	- Level.ERROR : 에러
	- Level.WARN : 경고
	- Level.INFO : 정보
	- Level.DEBUG : 디버깅 정보
	- Level.TRACE : DEBUG + @ (상세한 정보)
	
 -->
